
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:wght@300;400;600;700;800;900&display=swap');

body{
	display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(40, 40, 50);
    height: 100vh
}

#home_container{
    width: 85%;
    border-spacing: 0;
    margin-top: 3vh;
    height: 94vh;
    overflow: hidden;
    
}

#left_container{
	padding-top: 4%;
	padding-left: 6%;
	padding-right: 6%;
	font-family: 'Roboto', sans-serif;
	vertical-align: top;
	background-color: rgb(60, 60, 70);
	
}

@media screen and (max-width: 800px) {
  tr {
		display: flow-root !important ;
  }

  .mega_box_container > .box_container{
  	justify-content: space-evenly;
  }

  tr > td{
  	margin-bottom: 10vh;
  }

  #bottom_box{
  	position: inherit !important;
  }

  .block_av > div > img {

  	width: 15vw !important;
  }

}

#right_container{
	width: 100%;
	display: block;
    justify-content: center;
    background-color: rgb(50, 50, 60);
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    margin:  0;
  	overflow-y: scroll;
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
  	height: calc(100vh - 10% - 6vh);
}

#right_container::-webkit-scrollbar {
  display: none;
}

#main_card{
	background-color: rgb(65, 65, 80);
	margin-left: 5%;
	margin-right: 5%;
	/*width: 90%;*/
}

#main_card > #main_title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	padding-left: 5%;
	padding-top: 5%;
	font-size: 2rem;
	color: white;
}

#main_card > #code{
	font-family: Consolas;
	color: white;
	padding-top: 2%;
	padding-left: 5%;
	padding-bottom: 2%;
	font-size: 1rem;
}

#main_card > #button{
	padding-left: 5%;
	padding-bottom: 2%;
	font-size: 1.2rem;
}

c{
	color: orange;
}

.mega_box_container{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;

	padding-left: 5%;
	padding-right: 5%;
}

.mega_box_container > .title{
	font-size: 1.2rem;
	margin-top: 5%;
}

.mega_box_container > .box_container{
	margin-top: 1%;
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
}

.mega_box_container > .box_container > .container{
	width: 30%;
	margin-top: 2%;
	min-width: 300px;
	margin-bottom: 10px;
}

.mega_box_container > .box_container > .container > .container_bis{
	padding: 10%;
	padding-bottom: 2%;
	box-shadow: 4px 4px 11px 5px rgb(40, 40, 45);
	background-color: rgb(60, 60, 70);
	height: 100%;
	font-family: "Poppins", sans-serif;
}

.mega_box_container > .box_container > .container > .container_bis > .title{
	font-weight: bold;
	color: white;
	font-size: 1rem;
	margin-bottom: 15px;
}

.mega_box_container > .box_container > .container > .container_bis > .content{
	color: rgb(160, 160, 165);
	font-size: 0.95rem;
}

.left_right_list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.left_right_list > li{
	font-size: 0.85rem;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 12px;
}

.left_right_list > li > .el1{
	color: white;
	font-weight: bold;
}

.left_right_list > li > .el2{
	color: rgb(200, 200, 200);
	
}

.block{
	border-bottom: solid 1px rgb(200, 200, 200);
	padding-bottom: 6px;
	padding-top: 6px;
}

.progress{
	margin-top: 5px;
	margin-bottom: 12px;
	width: 100%;
	border-radius: 3px;
	height: 5px;
	background-color: rgb(40, 40, 50);
	overflow: auto;
}

.progress > .front{
	width: 0%;
	height: 5px;
	background-color: orange;
	border-radius: 3px;
	animation : progres_bar 2s linear;
	overflow: hidden;
}


@keyframes progres_bar{
0%{
	transform: translateX(-100%);
}
100%{
	transform: translateX(0%);
}
}

.typewriter {
	display:block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(33, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  from { width: 100% }
  to { width: 0 }
}

.block_av{
	display: flex;
	flex-direction: column;
  justify-content: center;
	height: 200px;
	background-color: rgb(50, 50, 60);
	border: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.9rem;

}

.block_av > div > img{
	width: 30%;
	border-radius: 50%;
	height: fit-content;
	align-content: center;
}

.block_av > .description{
	color: rgb(170, 170, 170);
	font-size: 0.8rem;
	font-weight: normal;
}

.block_av > div{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

td{
	padding:  0;
}


#bottom_box{
	position: absolute;
  bottom: 0;
  margin-top: 3vh;
  width: -webkit-fill-available;

}

#bottom_box > .title{
	text-align: center;
	margin-bottom: 15px;
	color: rgb(170, 170, 170);
	font-family: 'Roboto', sans-serif;
}

#bottom_box > .box_container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(70, 70, 85);
	box-shadow: -4px 4px 10px 5px rgb(40 40 45);
	position: relative;
}

#bottom_box > .box_container > a > .box{
	padding: 15px;
	color: rgb(170, 170, 170);
	transition-duration: 0.4s;
}

#bottom_box > .box_container > a > .box:hover{
	transition-duration: 0.4s;
	color: white;
}

 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

 #footer{
 	margin-top: 10vh;
 	font-family: consolas;
 	text-align: center;
 }

 .price{
 	text-align: center;

 }

 .amount{
 	display: inline;
 	color : orange;
 	font-size: 20pt;

 }
.price_p{
	min-height: 30vh;
	  display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%
}
.comment{
text-align: center;
color: rgb(180, 180, 190);
font-size: 0.95rem;
}

.mark{
	color: orange;
	margin-right: 5px;
}